.no-print {
  display: block;
}

.print {
  display: none !important;
  width: 178mm !important;
  padding: 0 !important;
  margin: 0 auto;
}

.header-print {
  /* margin-top: 1.25cm; */
  height: 4.44cm;
}
.hd1 {
  border-right: 0px !important;
}

.main-print {
  margin-top: 0;
  border: 1px solid black;
  padding-top: 0;
}
h2 {
  margin: 0;
}
.header-content {
  border: 1px solid black;
  height: 2.42cm;
}

/* .breakline {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;  
  width: 100% !important;
  white-space: pre-line !important;
  word-break: break-all;
} */

.table {
  table-layout: fixed !important;
  width: 100% !important;
}

.breakline {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  white-space: pre-line !important;
  padding: 0px 10px !important;
}

/* .textCell {
  border: none !important;
} */