/* html,
body {
  padding: 0;
  background-color: silver;
} */
/* #root {
  background-color: white;
  margin: 0 auto;
  width: 210mm;
  height: 297mm;
  margin-bottom: 10px;
} */
/* html,
body,
#root,
.App {
  width: 100vw;
  height: 100vh;
} */

.no-print {
  display: block;
}

.print {
  display: none !important;
  width: 178mm !important;
  padding: 0 !important;
  margin: 0 auto;
}

.header-print {
  /* margin-top: 1.25cm; */
  height: 4.44cm;
}
.hd1 {
  border-right: 0px !important;
}

.main-print {
  margin-top: 0;
  border: 1px solid black;
  padding-top: 0;
}
h2 {
  margin: 0;
}
.header-content {
  border: 1px solid black;
  height: 2.42cm;
}
