<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="ISO-8859-1">
<title>..:: SISATA - Cadastro Usuarios ::..</title>
</head>
<body>
	<h1>Usuarios</h1>
	<h2>Cadastro de Usuario</h2>
	<form action="/cadastrar-usuarios" method="post">
		<div>
			<label>Nome: </label><input name="usu_nome" type="text" /> <br>
		</div>
		<div>
			<label>Email: </label><input name="usu_email" type="text" /> <br>
		</div>
		<div>
			<label>Telefone: </label><input name="usu_telefone" type="text" /> <br>
		</div>
		<div>
			<label>Cargo: </label><input name="usu_cargo" type="text" /> <br>
		</div>
		<div>
			<label>Area/Empresa: </label><input name="usu_area_empresa"
				type="text" /> <br>
		</div>
		<div>
			<label>Assinatura: </label><input name="usu_assinatura" type="text" />
			<br>
		</div>
		<div>
			<label>Perfil: </label><input name="perfil.per_id"
				type="text" /> <br>
			<!--  -->
		</div>
		<button type="submit">Cadastrar</button>
	</form>
</body>
</html>