<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Usuários</title>
</head>
<body>
	<h1>
		<a th:href="@{/}">cadastrar novo usuario</a>
	</h1>
	<h1>Usuarios</h1>
	<br>


	<table>
		<tr>
			<!-- <th>ID:</th> -->
			<th>NOME:</th>
			<th>E-MAIL:</th>
			<th>TELEFONE:</th>
			<th>CARGO:</th>
			<th>AREA/EMPRESA:</th>
			<th>ASSINATURA:</th>
			<th>PERFIL-ID:</th>
			<th>PERFIL-NOME:</th>
			<th>EXCLUIR?</th>
		</tr>
		<tr th:each="v : ${listaUsers}">
			<!-- <td th:text="${v.id}"></td> -->
			<td th:text="${v.usu_nome}"></td>
			<td th:text="${v.usu_email}"></td>
			<td th:text="${v.usu_telefone}"></td>
			<td th:text="${v.usu_cargo}"></td>
			<td th:text="${v.usu_area_empresa}"></td>
			<td th:text="${v.usu_assinatura}"></td>
			<td th:text="${v.perfil.per_id}"></td>
			<td th:text="${v.perfil.per_nome}"></td>
			<td><a th:href="@{/excluir-usuario/{usu_id}(usu_id=${v.id})}">X</a></td>
		</tr>
	</table>
</body>
</html>